name: graph-know
services:
  api:
    build:
      context: E:\Gitworks\Yuxi-Know
      dockerfile: docker/api.Dockerfile
    command:
      - uv
      - run
      - --no-dev
      - uvicorn
      - server.main:app
      - --host
      - 0.0.0.0
      - --port
      - "5050"
      - --reload
    container_name: graph-know-graph-api-dev
    depends_on:
      milvus:
        condition: service_healthy
        required: true
      minio:
        condition: service_healthy
        required: true
      postgres:
        condition: service_healthy
        required: true
    environment:
      COMPOSE_PROFILES: all
      HOST_IP: ""
      MILVUS_DB_NAME: default
      MILVUS_TOKEN: ""
      MILVUS_URI: http://milvus:19530
      MINERU_API_URI: http://mineru-api:30001
      MINERU_VL_SERVER: http://mineru-vllm-server:30000
      MINIO_URI: http://milvus-minio:9000
      MODEL_DIR: ./models
      MODEL_DIR_IN_DOCKER: /models
      NEO4J_PASSWORD: "0123456789"
      NEO4J_URI: bolt://graph:7687
      NEO4J_USERNAME: neo4j
      NO_PROXY: localhost,127.0.0.1,milvus,graph,milvus-minio,milvus-etcd-dev,etcd,minio,mineru,paddlex,api.siliconflow.cn
      PADDLEX_URI: http://paddlex:8080
      POSTGRES_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/yuxi_know
      RUNNING_IN_DOCKER: "true"
      SAVE_DIR: ./saves
      SILICONFLOW_API_KEY: sk-mgvgcteerexiwrcrjwngydhjycafrxqpxnuttrvaqdswlwoo
      TAVILY_API_KEY: '# 获取搜索服务的 api key 请访问 https://app.tavily.com/'
      no_proxy: localhost,127.0.0.1,milvus,graph,milvus-minio,milvus-etcd-dev,etcd,minio,mineru,paddlex,api.siliconflow.cn
    extra_hosts:
      - host.docker.internal=host-gateway
    healthcheck:
      test:
        - CMD-SHELL
        - curl -f http://localhost:5050/api/system/health || exit 1
      timeout: 15s
      interval: 30s
      retries: 8
      start_period: 3m0s
    image: graph-api:0.5.dev
    networks:
      app-network: null
    ports:
      - mode: ingress
        target: 5050
        published: 5050
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: E:\Gitworks\Yuxi-Know\server
        target: /app/server
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\src
        target: /app/src
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\saves
        target: /app/saves
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\test
        target: /app/test
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\scripts
        target: /app/scripts
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\.env
        target: /app/.env
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\models
        target: /models
        bind:
          create_host_path: true
    working_dir: /app
  etcd:
    command:
      - etcd
      - -advertise-client-urls=http://etcd:2379
      - -listen-client-urls
      - http://0.0.0.0:2379
      - --data-dir
      - /etcd
    container_name: graph-know-milvus-etcd-dev
    environment:
      ETCD_AUTO_COMPACTION_MODE: revision
      ETCD_AUTO_COMPACTION_RETENTION: "1000"
      ETCD_QUOTA_BACKEND_BYTES: "4294967296"
      ETCD_SNAPSHOT_COUNT: "50000"
    healthcheck:
      test:
        - CMD
        - etcdctl
        - endpoint
        - health
      timeout: 30s
      interval: 1m0s
      retries: 5
      start_period: 30s
    image: quay.io/coreos/etcd:v3.5.5
    networks:
      app-network: null
    restart: unless-stopped
    volumes:
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\milvus\etcd
        target: /etcd
        bind:
          create_host_path: true
  graph:
    container_name: graph-know-graph
    environment:
      ENTITY_EMBEDDING: "true"
      NEO4J_AUTH: neo4j/0123456789
      NEO4J_server_bolt_listen__address: 0.0.0.0:7687
      NEO4J_server_http_listen__address: 0.0.0.0:7474
    healthcheck:
      test:
        - CMD-SHELL
        - curl -f http://localhost:7474 || exit 1
      timeout: 10s
      interval: 20s
      retries: 5
      start_period: 30s
    image: neo4j:5.26
    networks:
      app-network: null
    ports:
      - mode: ingress
        target: 7474
        published: 7474
        protocol: tcp
      - mode: ingress
        target: 7687
        published: 7687
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\neo4j\data
        target: /data
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\neo4j\logs
        target: /var/lib/neo4j/logs
        bind:
          create_host_path: true
  milvus:
    command:
      - milvus
      - run
      - standalone
    container_name: graph-know-milvus
    depends_on:
      etcd:
        condition: service_started
        required: true
      minio:
        condition: service_started
        required: true
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MILVUS_LOG_LEVEL: error
      MINIO_ADDRESS: minio:9000
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:9091/healthz
      timeout: 30s
      interval: 1m0s
      retries: 5
      start_period: 2m0s
    image: milvusdb/milvus:v2.5.6
    networks:
      app-network: null
    ports:
      - mode: ingress
        target: 19530
        published: 19530
        protocol: tcp
      - mode: ingress
        target: 9091
        published: 9091
        protocol: tcp
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
    volumes:
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\milvus\milvus
        target: /var/lib/milvus
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\milvus\logs
        target: /var/lib/milvus/logs
        bind:
          create_host_path: true
  minio:
    command:
      - minio
      - server
      - /minio_data
      - --address
      - 0.0.0.0:9000
      - --console-address
      - 0.0.0.0:9001
    container_name: graph-know-milvus-minio
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:9000/minio/health/live
      timeout: 30s
      interval: 1m0s
      retries: 5
      start_period: 30s
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    networks:
      app-network: null
    ports:
      - mode: ingress
        target: 9000
        published: 9000
        protocol: tcp
      - mode: ingress
        target: 9001
        published: 9001
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\milvus\minio
        target: /minio_data
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\milvus\minio_config
        target: /root/.minio
        bind:
          create_host_path: true
  paddlex:
    profiles:
      - all
    build:
      context: E:\Gitworks\Yuxi-Know
      dockerfile: docker/paddlex.Dockerfile
    container_name: graph-know-paddlex-ocr
    deploy:
      resources:
        limits:
          memory: "8589934592"
    healthcheck:
      test:
        - CMD-SHELL
        - curl -f http://localhost:8080/health || exit 1
      timeout: 10s
      interval: 20s
      retries: 5
      start_period: 1m0s
    image: paddlex:latest
    networks:
      app-network: null
    ports:
      - mode: ingress
        target: 8080
        published: 8080
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\paddlex
        target: /paddlex
        bind:
          create_host_path: true
  postgres:
    container_name: graph-know-postgres
    environment:
      POSTGRES_DB: yuxi_know
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      TZ: Asia/Shanghai
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U postgres -d yuxi_know || exit 1
      timeout: 3s
      interval: 5s
      retries: 30
    image: postgres:16
    networks:
      app-network: null
    ports:
      - mode: ingress
        target: 5432
        published: 5432
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: E:\Gitworks\Yuxi-Know\docker\volumes\postgresql
        target: /var/lib/postgresql/data
        bind:
          create_host_path: true
  web:
    build:
      context: E:\Gitworks\Yuxi-Know
      dockerfile: docker/web.Dockerfile
      target: development
    command:
      - pnpm
      - run
      - server
    container_name: graph-know-graph-web-dev
    depends_on:
      api:
        condition: service_started
        required: true
    environment:
      NODE_ENV: development
      VITE_API_URL: http://api:5050
    image: graph-web:0.5.dev
    networks:
      app-network: null
    ports:
      - mode: ingress
        target: 5173
        published: 5173
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: E:\Gitworks\Yuxi-Know\web\src
        target: /app/src
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\web\public
        target: /app/public
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\web\index.html
        target: /app/index.html
        bind:
          create_host_path: true
      - type: bind
        source: E:\Gitworks\Yuxi-Know\web\vite.config.js
        target: /app/vite.config.js
        bind:
          create_host_path: true
networks:
  app-network:
    name: graph-know_app-network
    driver: bridge
